.container-feature {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
*{
  padding-left:10px;
  padding-right: 10px;
}
.feature1 {
  width: 426px;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
h6 {
  padding-top: 60px;
  color: #ff8a71;
}
.feature2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 390px;
  width: 182px;
}
.feature3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 390px;
  width: 334px;
  font-size: 14px;
}
.feature21 {
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .container-feature {
    display: flex;
    flex-direction: column;
  }
  .feature1 p {
    width: 310px;
  }

  .feature21 {
    padding-top: 10px;
    width: 280px;
    height: 150px;
    font-size: 25px;
  }
  .feature31 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
